@page
@model uBuntuSouthAfrica.Areas.Identity.Pages.Donates.AvailableFundsModel

<style>
    body {
        background-image: url('/images/ff1.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style>

<br>
<h2 style="text-align: center; font-weight: bold; color: orange;">Money Transactions</h2>
<p style="font-weight: bold; color: white; font-size: 32px;">Available Balance: R @Model.NetAmount</p>
<a class='btn btn-sm' href="/Identity/Donates/AddFunds" style='background-color: mediumpurple; border-color: mediumpurple; '>Add Money to Wallet</a>

<table class="table" style="background-color: white;">
    <thead>
        <tr>
            <th>Disaster Name</th>
            <th>Donation Type</th>
            <th>Money Type</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listBalance)
        {
            <tr>
                <td>@item.DisasterName</td>
                <td>@item.DisasterType</td>
                <td>@item.MoneyType</td>
                <td>@item.Amount</td>
            </tr>
        }
    </tbody>
</table>
